<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id={{ clientId }}&disable-funding=credit,card,bancontact,blik,eps,giropay,ideal,mybank,p24,sepa,sofort,venmo" data-partner-attribution-id="{{ partnerAttributionId }}"></script>
<script>
    let completeUrl = "{{ completeUrl }}";
    let createPayPalOrderFromCartUrl = "{{ createPayPalOrderFromCartUrl }}";
    let orderId = "{{ orderId }}";
    let processPayPalOrderUrl = "{{ processPayPalOrderUrl }}";
    let cancelPayPalOrderUrl = "{{ path('sylius_paypal_plugin_cancel_order') }}";

    paypal.Buttons({
        createOrder: function(data, actions) {
            return fetch(createPayPalOrderFromCartUrl, {
                method: 'post'
            }).then(res => res.json()).then(data => data.orderID);
        },

        onApprove: function(data, actions) {
            return fetch(processPayPalOrderUrl, {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ payPalOrderId: data.orderID, orderId: orderId })
            })
            .then(res => res.json())
            .then(details => window.location.href = completeUrl);
        },
        onCancel: function (data, actions) {
            return fetch(cancelPayPalOrderUrl, {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ payPalOrderId: data.orderID })
            }).then(data => window.location.reload());
        }
    }).render('#paypal-button-container');
</script>
