{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pay with PayPal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block stylesheets %}
            <style>
                .container {
                    padding: 30px;
                    align-items: center;
                    display: grid;
                    justify-content: center;
                    grid-template-rows: 40vh auto;
                    width: 400px;
                    margin: auto;
                }

                #sylius-logo {
                    width: 100%;
                }

                .padding {
                    padding: 10px;
                }

                .back-button-container {
                    position: absolute;
                    padding: 20px;
                    top: 0;
                    left: 0;
                }

                .back-button {
                    cursor: pointer;
                    display: inline-block;
                    min-height: 1em;
                    outline: 0;
                    border: none;
                    vertical-align: baseline;
                    color: rgba(0,0,0,.6);
                    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
                    padding: .78571429em 1.5em .78571429em;
                    text-transform: none;
                    text-shadow: none;
                    font-weight: 700;
                    line-height: 1em;
                    font-style: normal;
                    text-align: center;
                    text-decoration: none;
                    border-radius: .28571429rem;
                    background-color: #1abb9c;
                    color: #fff;
                    margin:auto;
                }

                #paypal-payment-container {
                    height: 100%;
                    width: 100%;
                }

                .input {
                    height: 50px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
    <div id="paypal-payment-container" class="ui segment loadable">
        <div class="back-button-container">
            <a href="{{ path('sylius_shop_order_show', {'tokenValue': order_token}) }}" class="back-button">
                {{ 'sylius.pay_pal.back_to_store'|trans }}
            </a>
        </div>
        <div class="container">
            <div class="header padding"><img draggable="false" id="sylius-logo" src="https://paypal.sylius.com/assets/img/logo.png" alt="logo"/></div>
            <div class="button-container padding">
                <div id="paypal-button-container"></div>
            </div>
            <hr style="margin: 20px 0; width: 100%; height: 3px; background-color: #222;"/>
            <div class="button-container padding">
                <div id="advanced-cards-container"></div>
                <form id="advanced-cards-form" class="">
                    <label for="card-number">{{ 'sylius.pay_pal.credit_card_number'|trans }}</label>
                    <div id="card-number" class="input"></div>
                    <label for="expiration-date">{{ 'sylius.pay_pal.expiration_date'|trans }}</label>
                    <div id="expiration-date" class="input"></div>
                    <label for="cvv">{{ 'sylius.pay_pal.cvv'|trans }}</label>
                    <div id="cvv" class="input"></div>
                    <button value="submit" id="submit" class="btn">{{ 'sylius.pay_pal.pay_with_card'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
    </body>
    <script src="https://www.paypal.com/sdk/js?components=hosted-fields,buttons&locale={{ locale }}&client-id={{ client_id }}&merchant-id={{ merchant_id }}&intent=capture" data-partner-attribution-id="{{ partner_attribution_id }}" data-enable-3ds data-client-token="{{ client_token }}"></script>
    <script>
        let createPayPalOrderUrl = "{{ path('sylius_paypal_plugin_create_paypal_order', {'token': order_token}) }}";
        let completePayPalOrderUrl = "{{ path('sylius_paypal_plugin_complete_paypal_order', {'token': order_token }) }}"
        let errorPayPalPaymentUrl = "{{ path('sylius_paypal_plugin_payment_error') }}";
        let availableCountries = {{ available_countries|json_encode|raw }};
        let cancelPayPalPaymentUrl = "{{ path('sylius_paypal_plugin_cancel_checkout_payment') }}";
        let updatePayPalOrderUrl = "{{ path('sylius_paypal_plugin_update_paypal_order') }}";

        paypal.Buttons({
            locale: '{{ locale }}',
            style: { label: 'pay' },
            createOrder: function(data, actions) {
                return fetch(createPayPalOrderUrl, {
                    method: 'post'
                }).then(res => {
                    document.querySelector('#paypal-payment-container').classList.add('loading');
                    document.querySelector('#paypal-button-container').classList.add('low-opacity');
                    return res.json();
                }).then(data => data.orderID);
            },
            onApprove: function(data, actions) {
                return fetch(completePayPalOrderUrl, {
                    method: 'post'
                }).then(res => res.json()).then(details => window.location.href = details.return_url);
            },
            onError: function (err) {
                return fetch(errorPayPalPaymentUrl, {
                    method: 'post',
                    headers: { 'content-type': 'application/json' },
                    body: JSON.stringify(err)
                }).then(window.location.reload());
            },
            onShippingChange: function(data, actions) {
                if (!availableCountries.filter(country => country === data.shipping_address.country_code).length) {
                    return actions.reject();
                }

                return fetch(updatePayPalOrderUrl, {
                    method: 'post',
                    headers: { 'content-type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(res => {
                    if (!res || res.error) {
                        return actions.reject();
                    }

                    return actions.resolve();
                });
            },
            onCancel: function (data, actions) {
                return fetch(cancelPayPalPaymentUrl, {
                    method: 'post',
                    headers: { 'content-type': 'application/json' },
                    body: JSON.stringify({ payPalOrderId: data.orderID })
                }).then(window.location.reload());
            }
        }).render('#paypal-button-container');

        if (paypal.HostedFields.isEligible() === true) {
            paypal.HostedFields.render({
                createOrder: function(data, actions) {
                    return fetch(createPayPalOrderUrl, {
                        method: 'POST'
                    }).then(function(res) {
                        console.log(res);
                        return res.json();
                    }).then(function(data) {
                        console.log(data);
                        return data.orderID;
                    });
                },
                styles: {
                    'input': {
                        'font-size': '14px',
                        'font-family': 'Product Sans',
                        'color': '#3a3a3a',
                    },
                    ':focus': {
                        'color': 'black'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: '{{ 'sylius.pay_pal.credit_card_number'|trans }}',
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: 'CVV',
                    },
                    expirationDate: {
                        selector: '#expiration-date',
                        placeholder: 'MM/YYYY',
                    }
                }
            }).then(hostedFields => {
                document.querySelector('#advanced-cards-form').addEventListener('submit', event => {
                    event.preventDefault();
                    hostedFields.submit().then(payload => {
                        return fetch(completePayPalOrderUrl, {
                            method: 'post'
                        }).then(res => res.json()).then(details => window.location.href = details.return_url);
                    });
                });
            });
        }
    </script>
</html>
