<html>
    <head>
        <title>Pay with PayPal</title>
        {% block stylesheets %}
            <style>
                .container {
                    padding: 30px;
                    align-items: center;
                    display: grid;
                    justify-content: center;
                    grid-template-rows: 40vh 10vh;
                }

                #sylius-logo {
                    width: 100%;
                    height: auto;
                }

                .header {
                    width: 400px;
                }

                .padding {
                    padding: 10px
                }

                .button-container {
                    display: flex;
                    height: 100px;
                }

                #paypal-button-container {
                    width:100%;
                }

            </style>
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="header padding"><img draggable="false" id="sylius-logo" src="{{ sylius_logo_path }}" alt="logo"/></div>
        <div class="button-container padding">
            <div id="paypal-button-container"></div>
        </div>
    </div>
    </body>
    <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}" data-partner-attribution-id="{{ partner_attribution_id }}"></script>
    <script>
        let createPayPalOrderUrl = "{{ path('sylius_paypal_plugin_create_paypal_order', {'token': order_token}) }}";
        let completePayPalOrderUrl = "{{ path('sylius_paypal_plugin_complete_paypal_order', {'token': order_token }) }}"

        paypal.Buttons({
            createOrder: function(data, actions) {
                return fetch(createPayPalOrderUrl, {
                    method: 'post'
                }).then(res => res.json()).then(data => data.orderID);
            },
            onApprove: function(data, actions) {
                return fetch(completePayPalOrderUrl, {
                    method: 'post'
                }).then(res => res.json()).then(details => window.location.href = details.return_url);
            }
        }).render('#paypal-button-container');
    </script>
</html>
