<html>
    <head>
        <title>Pay with PayPal</title>
    </head>
    <body>
        <div id="paypal-button-container"></div>
    </body>
    <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}" data-partner-attribution-id="sylius-ppcp4p-bn-code"></script>
    <script>
        let amount = "{{ amount }}";
        let currencyCode = "{{ currency_code }}";
        let targetStatus = "{{ constant('Sylius\\PayPalPlugin\\Payum\\Action\\StatusAction::STATUS_COMPLETED') }}";
        let orderToken = "{{ order_token }}";

        paypal.Buttons({
            createOrder: function(data, actions) {
                return fetch(`/en_US/create-pay-pal-order/${orderToken}`, {
                    method: 'post'
                }).then(res => res.json()).then(data => data.orderID);
            },
            onApprove: function(data, actions) {
                return fetch(`/en_US/complete-pay-pal-order/${orderToken}/${data.orderID}`, {
                    method: 'post'
                }).then(res => res.json()).then(details => window.location.href = details.return_url);
            }
        }).render('#paypal-button-container');
    </script>
</html>
